{% if messages %}
  {% for message in messages %}
    <div class="ui message {% if message.tags %}{{ message.tags }}{% endif %} mb-6">
      {% if 'error' in message.tags %}
        <i class="fas fa-exclamation-circle mr-2"></i>
      {% elif 'success' in message.tags %}
        <i class="fas fa-check-circle mr-2"></i>
      {% elif 'warning' in message.tags %}
        <i class="fas fa-exclamation-triangle mr-2"></i>
      {% else %}
        <i class="fas fa-info-circle mr-2"></i>
      {% endif %}
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
